:root {
    --primary-color: #6A1B9A;
    --accent-color: #8E24AA;
    --background-color: #F5F5F5;
    --text-color: #FFFFFF;
    --text-dark-color: #424242;
    --button-hover-color: #9C27B0;
    --button-shadow-color: rgba(0, 0, 0, 0.2);
    --contact-link-color: #5F3E8D;
    --hover-link-color: #8E24AA;
}

/* Основные стили */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f9;
    font-family: 'Roboto', sans-serif;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

h2,
h3 {
    text-transform: uppercase;
}

p {
    margin: 0;
}

a {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

/* HEADER */

.header {
    padding: 0 15px;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

.header__container {
    display: flex;
    align-items: center;
    width: 100%;

}

.header__logo-container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__menu-item {
    display: flex;
}

.header__menu-link {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
}

.header__menu-link:hover,
.header__menu-link:focus,
.header__contact-link:hover,
.header__contact-link:focus {
    color: var(--hover-link-color);
    text-decoration: none;
}

.header__address {
    display: flex;
    align-items: center;
    font-style: normal;
    margin-left: auto;
}

.header__contact-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__contact-item {
    display: flex;
    align-items: center;
}

.header__contact-icon {
    margin-right: 5px;
}

.header__contact-link {
    text-decoration: none;
    color: var(--contact-link-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Стили для медиа-запросов */
@media (max-width: 800px) {

    .header__nav,
    .header__address {
        display: none;
    }

    .header__burger {
        display: block;
        cursor: pointer;
        margin-left: auto;
    }

    .header__burger-menu {
        display: none;
        flex-direction: column;
        align-items: flex-center;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #f4f4f4;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 20;
    }

    .header__burger-menu a {
        padding: 5px 0;
        color: var(--contact-link-color);
        width: 100%;
    }

    .header__burger-menu.show {
        display: flex;
        text-align: center;
    }
}

/* Скрываем бургер-меню на больших экранах */
.header__burger-menu {
    display: none;
}

.header__burger {
    display: none;
}

@media (max-width: 800px) {
    .header__burger {
        display: block;
    }
}


/* Стили для footer */
.footer {
    background-color: #800080;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-address {
    margin-left: 70px;
    text-align: left;
}

.footer-address-link {
    color: #f4f4fd;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}

.footer-address li {
    margin-bottom: 3px;
}

.footer-address a {
    text-decoration: none;
    color: white;
}

.footer-address a:hover,
.footer-socials a:hover {
    color: #ddd;
}

.social-box {
    font-display: flex;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-right: 50px;
}

.footer-socials img {
    width: 40px;
    height: auto;
}

/* Стили для секции "Наши партнеры" */
.partner-box {
    text-align: center;
    margin: 40px 0;
}

.partner-box p {
    margin-bottom: 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text-color);
}

.partner-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    list-style: none;
    margin: 0;
}

.partner-box li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s, box-shadow 0.3s;
}

.partner-box img:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 400px) {
    .footer .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        align-items: center;
        text-align: center;
    }

    .address {
        display: flex;
    }

    .footer-socials {
        margin: auto;
    }

    .footer-address {
        margin: auto;
    }
}