body {
    background-color: #f4f4f9;
    font-family: 'Raleway' 'Roboto', sans-serif; 
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    width: 1158px;
    margin: auto;
    padding: 0 15px;
}

/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    padding-top: 24px;
    padding-bottom: 24px;
    padding: 0 15px;
}

.main-header-container {
    display: flex;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-logo {}

.logo-span {}

.nav-link {
    text-decoration: none;
    color: #5F3E8D;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    padding: 24px 0;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.address-link {
    text-decoration: none;
    color: var(--contact-link-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-link:hover,
.address-link:hover {
    color: var(--hover-link-color);
}

.nav-link:focus,
.address-link:focus {
    color: var(--hover-link-color);
}

.address-lis-item {
    display: flex;
    gap: 5px;
}

.hero {
    background-color: #d809a1;
    background: linear-gradient(rgba(127, 1, 108, 0.872), rgba(144, 5, 146, 0.889));
    position: relative;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    color: white;
    text-align: start;
    margin-bottom: 48px;
    max-width: 496px;
}

.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    background-color: #4d5ae5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* Стили для секции "Наши преимущества" */
.advantages-title {
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 726px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 227px;
    background-color: purple;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

.card-content {
    padding: 20px;
    position: relative;
    z-index: 2;
}

img {
    max-width: 100%;
}

p {
    color: white;
}

/* Медиазапросы для размещения карточек в два и один ряд */
@media (max-width: 768px) {
    .card {
        flex: 1 0 45%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 0 100%;
    }
}

.services {
    padding: 50px 0;
    background-color: #f4f4f9;
}

.services-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.services-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.services-card {
    position: relative;
    background-color: purple;
    border-radius: 10px;
    width: 300px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding-bottom: 120px;
}

.services-card:hover {
    transform: translateY(-10px);
}

.services-card-content {
    padding: 20px;
    position: relative;
    z-index: 2;
}

.services-card-content h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.services-card-content p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.services-card-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
    z-index: 1;
}

.workflow {
    padding: 50px 0;
    background-color: #f4f4f9;
}

.workflow-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}

.workflow-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.workflow-card {
    background-color: purple;
    border-radius: 10px;
    width: 220px;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.workflow-card img {
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.workflow-card p {
    font-size: 16px;
    line-height: 1.5;
}

.workflow-card:hover {
    transform: translateY(-10px);
}

.footer {
    background-color: #800080;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.footer-address {
    margin-left: 70px;
    text-align: left;
    
}

.footer-address-link {
    color: #f4f4fd;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

}

.footer-address li {
    margin-bottom: 3px;
}

.footer-address a {
    text-decoration: none;
    color: white;
}

.footer-address a:hover,
.footer-socials a:hover {
    color: #ddd;
}
.social-box {
    font-display: flex;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-right: 50px;
}
.footer-socials img {
    width: 40px;
    height: auto;
}

.partner-box {
    text-align: center;
    margin: 40px 0;
}

.partner-box p {
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--primary-color);
    /* Используйте основной цвет вашей темы */
}

.partner-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    list-style: none;
    margin: 0;
}

.partner-box li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/* Form Styles */
.form-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container .btn.cancel {
    background-color: #f44336;
    margin-top: 10px;
}

.form-container .btn:hover {
    opacity: 0.8;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}